/* 모달 스타일 */
.modal {
    display: none; /* 기본적으로 숨겨진 상태 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input-container {
    margin: 15px 0;
}

.input-container input {
    width: 80%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-container button {
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

.input-container button:hover {
    background-color: #45a049;
}

.modal h2{
    color:black;
}
