<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community</title>
  <link rel="stylesheet" href="/static/web/styles/styles2.css">
</head>
<body onload="dataToJsonFriends()">
<div class="header">
  <h2>community</h2>
  <p>친구를 등록하고<br>친구의 사용량을 확인해보세요</p>
</div>
<div class="card-container">
  <div class="card">
    <div class="avatar"></div>
    <p>James</p>
    <p>123,456,789</p>
  </div>
  <div class="card">
    <div class="avatar"></div>
    <p>gog</p>
    <p>2,323</p>
  </div>
  <div class="card">
    <div class="avatar"></div>
    <p>www</p>
    <p>456,789</p>
  </div>
  <div class="card">
    <div class="avatar"></div>
    <p>abc</p>
    <p>3,456,789</p>
  </div>
  <div class="add-card"></div>
</div>
<script src="/static/web/js/dbToJson.js"></script>
</body>
</html>