<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>건강 알림 신호</title>
    <link rel="stylesheet" href="/static/web/styles/stylehealthsign.css">
</head>
<body>
    <div class="container">
        <button id="delayedButton1" disabled>
        <div class="item">
            <img src="/static/web/img/Hand Holding Dumbbell.png" alt="스트레칭 아이콘" class="icon">
            <div class="text">
                <div class="value">2413</div>
                <div class="label">스트레칭</div>
            </div>
        </div>
        </button>
        <button id="delayedButton2" disabled>
        <div class="item">
            <img src="/static/web/img/Businessman holding cup.png" alt="수분보충 아이콘" class="icon">
            <div class="text">
                <div class="value">124</div>
                <div class="label">수분보충</div>
            </div>
        </div>
        </button>
        <button id="delayedButton3" disabled>
        <div class="item">
            <img src="/static/web/img/Open Mind.png" alt="마인드컨트롤 아이콘" class="icon">
            <div class="text">
                <div class="value">13</div>
                <div class="label">마인드컨트롤</div>
            </div>
        </div>
        </button>
    </div>
    <script src="/static/web/js/healthsign.js"></script>
</body>
</html>
