<!DOCTYPE html>
<html>
<!--로그인 후-->
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>IFU</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/web/styles/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/web/styles/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/web/styles/responsive.css" rel="stylesheet" />

    <link href="/static/web/styles/stylehealthsign.css" rel="stylesheet" />
</head>

<body onload="dataToJsonUserInfo(); dataToJsonUsageData(); dataToJsonUsageStatistics(); dataToJsonSomeTime(); dataToJsonScreenTime()">

<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/sweetodo/todo/todoMain">
                    <img src="/static/web/img/logo.png" alt="">
                    <span></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="s-1"> </span>
                    <span class="s-2"> </span>
                    <span class="s-3"> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/sweetodo/todo/todoMain">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/todo/community">community</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/todo/data">data</a>
                            </li>
                            <li class="nav-item active">
                                <button class="nav-link" onclick="location.href='/logout'">Log out</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="detail_box">

                        <h1>
                            당신의 <br>
                            인터넷 사용 시간은? <br>
                        </h1>
                        <h1 id="totalMinutes">123456</h1>
                        <h1> 분 </h1>
                        <a href="" class="">
                            다운로드
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 offset-lg-1">

                </div>
            </div>
        </div>
    </section>
</div>


<!-- service section -->
<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                이시간에 다른것을 했으면?
            </h2>
        </div>

        <div class="service_container">
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s1.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>2024년 최저시급 기준</h5>
                    <h5 class="count">0</h5>
                    <h5>원</h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s2.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>서울에서 부산까지</h5>
                    <h5 class="count">0</h5>
                    <h5>회 왕복</h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s3.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>천국의 계단을 뛰었으면</h5>
                    <h5 class="count">0</h5>
                    <h5>회</h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s4.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>영화</h5>
                    <h5 class="count">0</h5>
                    <h5>회 감상</h5>
                    <p>오펜하이머-2022</p>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s5.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>해리포터</h5>
                    <h5 class="count">0</h5>
                    <h5>번 정주행</h5>
                </div>
            </div>
            <div class="box">
                <div class="img-box">
                    <img src="/static/web/img/s6.png" class="img1" alt="">
                </div>
                <div class="detail-box">
                    <h5>강호동이 악수를 했다면</h5>
                    <h5 class="count">0</h5>
                    <h5>회</h5>
                    <p>강호동은 8시간동안 28,233명과 악수 했다</p>
                </div>
            </div>
        </div>
        <a href="">
            더 확인하기
        </a>
    </div>
</section>
<!-- end service section -->

<!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            스크린 타임
                        </h2>
                        <img src="/static/web/img/plug.png" alt="">
                    </div>
                    <div class="donut-container">
                        <div class="donut-box">
                            <div class="donut" id="donutChart1" data-percent="0"></div>
                        </div>
                        <div class="donut-box">
                            <div class="donut" id="donutChart2" data-percent="0"></div>
                        </div>
                        <div class="donut-box">
                            <div class="donut" id="donutChart3" data-percent="0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->




<!-- blog section -->

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <div class="container1">
                <button id="delayedButton1" disabled>
                    <div class="item">
                        <img src="/static/web/img/Hand Holding Dumbbell.png" alt="스트레칭 아이콘" class="icon">
                        <div class="text">
                            <div class="value">0</div>
                            <div class="label">스트레칭</div>
                        </div>
                    </div>
                </button>
                <button id="delayedButton2" disabled>
                    <div class="item">
                        <img src="/static/web/img/Businessman holding cup.png" alt="수분보충 아이콘" class="icon">
                        <div class="text">
                            <div class="value">0</div>
                            <div class="label">수분보충</div>
                        </div>
                    </div>
                </button>
                <button id="delayedButton3" disabled>
                    <div class="item">
                        <img src="/static/web/img/Open Mind.png" alt="마인드컨트롤 아이콘" class="icon">
                        <div class="text">
                            <div class="value">0</div>
                            <div class="label">마인드컨트롤</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</section>

<!-- end blog section -->


<!-- info section -->

<section class="info_section layout_padding">
    <div class="container">
        <div class="info_contact">
            <div class="row">
                <div class="col-md-4">
                    <a href="">
                        <img src="/static/web/img/location-white.png" alt="">
                        <span>
                한국교통대학교 충주 캠퍼스
              </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="/static/web/img/instagram.png" alt="">
                        <span>
                @인스타주소
              </span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="">
                        <img src="/static/web/img/envelope-white.png" alt="">
                        <span>
                demo@gmail.com
              </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="info_form">

                </div>
            </div>
            <div class="col-md-4 col-lg-3">

            </div>
        </div>

    </div>
</section>

<!-- end info section -->

<!-- footer section -->
<footer class="container-fluid footer_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9 mx-auto">
                <p>
                    &copy;
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->


<script src="/static/web/js/jquery-3.4.1.min.js"></script>
<script src="/static/web/js/bootstrap.js"></script>
<script src="/static/web/js/scripts.js"></script>
<script src="/static/web/js/healthsign.js"></script>

</body>

</html>