<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Internet Usage Tracker</title>
  <link rel="stylesheet" href="/static/extensions/popup.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
  <h1>🛜인터넷 사용 추적기</h1>
  <table id="usage-table">
    <thead>
      <tr>
        <th>도메인</th>
        <th>사용 시간</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <button id="reset">리셋</button>
  <footer>
    <p>&copy; 2024 김성진 샘플. All rights reserved.</p>
  </footer>
  <script src="/static/extensions/popup.js"></script>
</body>
</html>