body {
    width: 400px;
    height: 600px;
    font-family: 'Arial', 'Malgun Gothic', '맑은 고딕', 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  #usage-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  #usage-table th, #usage-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #usage-table th {
    background-color: #f2f2f2;
  }
  
  #reset {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #de36f4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }

  #reset:hover {
    background-color: #531650; /* 호버 시 배경색 변경 */
    transform: scale(1.05); /* 호버 시 크기 약간 확대 */
  }
  
  #reset:active {
    transform: scale(0.95); /* 클릭 시 크기 축소 */
  }

  footer {
    margin-top: auto; /* footer를 맨 아래로 이동 */
    padding: 10px;
    background-color: #f1f1f1; /* 배경색 옅은 회색 */
    color: #888; /* 텍스트 색상 회색 */
    text-align: center; /* 중앙 정렬 */
    font-size: 14px; /* 폰트 크기 */
  }